body {
    margin: 10px;
    font-family: sans-seriff;
    background-color: powderblue;
}

.body_container {
    text-align: center;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
    background-color: floralwhite;
    min-height: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
}
